@import "~@angular/material/theming";

$break-small: 800px;

.app-bar-expanded {
  align-items: start;
  background-image: url("../../../../assets/images/banner-wide.jpg");
  background-color: #e3dedb;
  background-size: cover;
  display: flex;
  height: 560px;
  padding: 0;

  @media only screen and (max-width: 800px) {
    background-image: url("../../../../assets/images/banner.jpeg");
    height: 360px;
  }
}

.app-bar-collapsed {
  align-items: start;
  background-color: #e69aa8c7;

  @media only screen and (max-width: 800px) {
    padding-left: 0;
    position: fixed;
  }
}

.app-bar-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
}

.app-bar-toolbar-expanded {
  background-color: #7f946d73;
  color: #fff;
  display: flex;
  flex-direction: row;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 16px;

  @media only screen and (max-width: 800px) {
    background-color: initial;
  }
}

.app-bar-toolbar-collapsed {
  color: #fff;
  display: flex;
  flex-direction: row;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 16px;
}

.app-bar-content {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: center;
}

.app-content-wrapper {
  background-color: #eceaea;
  flex-direction: column;

  @media only screen and (max-width: 800px) {
    margin-top: 56px;
  }
}

.app-content {
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 100%;
}

.nav-button {
  background-color: #7f946d73;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  padding: 8px;
}

.title-wrapper {
  color: #fff;
  padding: 0;
  @media screen and (max-width: $break-small) {
    margin: 0 36px 36px 36px;
  }
}

.title-icon {
  width: 400px;
  height: 240px;
  background-color: #f39faec7;
  padding: 8px;
  @media screen and (max-width: $break-small) {
    width: 240px;
    height: 140px;
  }
}

.title-icon-collapsed {
  height: 48px;
  width: 60px;
  color: white;
  @media screen and (max-width: $break-small) {
    height: 36px;
    width: 48px;
  }
}

.drawer-container {
  background-color: #eceaea;
}

.drawer-content {
  overflow-x: hidden;
}

.expand {
  flex: 100;
}

.side-nav {
  padding-top: 36px;
  min-width: 250px;
}

.side-nav-button-wrapper {
  margin: 16px;
  text-align: center;
}

.toolbar-button {
  font-family: typewriter;
  font-size: 18px;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 8px;
}
