<mat-drawer-container class="drawer-container" autosize>
  <mat-drawer class="side-nav" [(opened)]="navOpen" mode="slide">
    <div class="side-nav-button-wrapper">
      <a mat-button class="toolbar-button" [routerLink]="['']">Home</a>
    </div>
    <div class="side-nav-button-wrapper">
      <a mat-button class="toolbar-button" [routerLink]="['/blog']">Blog</a>
    </div>
    <div class="side-nav-button-wrapper">
      <a mat-button class="toolbar-button" [routerLink]="['/coaching']"
        >Coaching</a
      >
    </div>
    <div class="side-nav-button-wrapper">
      <a mat-button class="toolbar-button" [routerLink]="['/my-story']"
        >My Story</a
      >
    </div>
    <div class="side-nav-button-wrapper">
      <a mat-icon-button href="https://www.instagram.com/theglowblueprint">
        <mat-icon class="insta-icon" svgIcon="instagram-logo"></mat-icon>
      </a>
    </div>
  </mat-drawer>
  <mat-drawer-content class="drawer-content">
    <mat-toolbar
      class="app-bar"
      [ngStyle]="{
        'background-image': imageUrl
          ? 'url(' + imageUrl + ')'
          : 'url(\'../../../../assets/images/pineapples.jpg\')'
      }"
    >
      <div class="app-bar-container">
        <div class="app-bar-toolbar">
          <span class="expand"></span>
          <nav-menu-button
            *ngIf="screenWidth <= 600"
            [(open)]="navOpen"
          ></nav-menu-button>

          <a
            mat-button
            *ngIf="screenWidth > 600"
            class="toolbar-button"
            [routerLink]="['']"
            >Home</a
          >
          <a
            mat-button
            *ngIf="screenWidth > 600"
            class="toolbar-button"
            [routerLink]="['/blog']"
            >Blog</a
          >
          <a
            mat-button
            *ngIf="screenWidth > 600"
            class="toolbar-button"
            [routerLink]="['/coaching']"
            >Coaching</a
          >
          <a
            mat-button
            *ngIf="screenWidth > 600"
            class="toolbar-button"
            [routerLink]="['/my-story']"
            >My Story</a
          >
          <a
            mat-icon-button
            *ngIf="screenWidth > 600"
            class="toolbar-button"
            href="https://www.instagram.com/theglowblueprint"
          >
            <mat-icon class="insta-icon" svgIcon="instagram-logo"></mat-icon>
          </a>
        </div>
        <div class="app-bar-content">
          <a mat-button [routerLink]="['']" class="bordered-title"
            >the GLOW blueprint</a
          >
        </div>
      </div>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-drawer-content>
</mat-drawer-container>
