@import "~@angular/material/theming";

$break-small: 600px;

.app-bar {
  align-items: start;
  background-image: url("../../../../assets/images/pineapples.jpg");
  background-repeat: repeat-x;
  background-position: bottom;
  background-color: #e3dedb;
  background-size: contain;
  display: flex;
  height: 560px;
  padding-top: 16px;
}

@media only screen and (max-width: 600px) {
  .app-bar {
    height: 360px;
  }
}

.app-bar-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
}

.app-bar-toolbar {
  display: flex;
  flex-direction: row;
}

.app-bar-content {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: center;
}

.bordered-title {
  border-radius: 50%;
  box-sizing: content-box;
  color: #b65b6f;
  font-family: "lemonTuesday";
  font-size: 84px;
  font-weight: bold;
  line-height: 96px;
  padding: 56px;
  text-align: center;
  text-decoration: none;
  white-space: pre-wrap;
  @media screen and (max-width: $break-small) {
    width: 160px;
    font-size: 48px;
    line-height: 52px;
    margin: 0 36px 36px 36px;
  }
}

.drawer-container {
  background-color: #eceaea;
  margin: -8px;
}

.drawer-content {
  overflow-x: hidden;
}

.expand {
  flex: 100;
}

.side-nav {
  padding-top: 36px;
  min-width: 250px;
}

.side-nav-button-wrapper {
  margin: 16px;
  text-align: center;
}

.toolbar-button {
  font-family: typewriter;
  font-size: 18px;
  margin-left: 8px;
  margin-right: 8px;
}
