<mat-drawer-container class="drawer-container" autosize>
  <mat-drawer class="side-nav" [(opened)]="navOpen" mode="slide">
    <div class="side-nav-button-wrapper">
      <a mat-button class="toolbar-button" [routerLink]="['']">Home</a>
    </div>
    <div class="side-nav-button-wrapper">
      <a mat-button class="toolbar-button" [routerLink]="['/blog']">Blog</a>
    </div>
    <div class="side-nav-button-wrapper">
      <a mat-button class="toolbar-button" [routerLink]="['/coaching']"
        >Coaching</a
      >
    </div>
    <div class="side-nav-button-wrapper">
      <a mat-button class="toolbar-button" [routerLink]="['/my-story']"
        >My Story</a
      >
    </div>
    <div class="side-nav-button-wrapper">
      <a mat-icon-button href="https://www.instagram.com/theglowblueprint">
        <mat-icon class="insta-icon" svgIcon="instagram-logo"></mat-icon>
      </a>
    </div>
  </mat-drawer>
  <mat-drawer-content class="drawer-content">
    <mat-toolbar
      [ngClass]="{
        'app-bar-collapsed': collapsed,
        'app-bar-expanded': !collapsed
      }"
    >
      <div class="app-bar-container">
        <div
          [ngClass]="{
            'app-bar-toolbar-collapsed': collapsed,
            'app-bar-toolbar-expanded': !collapsed
          }"
        >
          <a mat-button [routerLink]="['']" *ngIf="collapsed">
            <mat-icon
              svgIcon="gb-logo-2"
              class="title-icon-collapsed"
            ></mat-icon>
          </a>
          <span class="expand"></span>
          <nav-menu-button
            *ngIf="screenWidth <= 800"
            [(open)]="navOpen"
            [ngClass]="{
              'nav-button': !collapsed
            }"
          ></nav-menu-button>

          <a
            mat-button
            *ngIf="screenWidth > 800"
            class="toolbar-button"
            [routerLink]="['']"
            >Home</a
          >
          <a
            mat-button
            *ngIf="screenWidth > 800"
            class="toolbar-button"
            [routerLink]="['/blog']"
            >Blog</a
          >
          <a
            mat-button
            *ngIf="screenWidth > 800"
            class="toolbar-button"
            [routerLink]="['/coaching']"
            >Coaching</a
          >
          <a
            mat-button
            *ngIf="screenWidth > 800"
            class="toolbar-button"
            [routerLink]="['/my-story']"
            >My Story</a
          >
          <a
            mat-icon-button
            *ngIf="screenWidth > 800"
            class="toolbar-button"
            href="https://www.instagram.com/theglowblueprint"
          >
            <mat-icon class="insta-icon" svgIcon="instagram-logo"></mat-icon>
          </a>
          <!-- <button
            mat-icon-button
            *ngIf="screenWidth > 800 && currentUser"
            class="toolbar-button"
            (click)="onLogout()"
          >
            <mat-icon>exit_to_app</mat-icon>
          </button> -->
        </div>
        <div *ngIf="!collapsed" class="app-bar-content">
          <a mat-button [routerLink]="['']" class="title-wrapper">
            <mat-icon svgIcon="gb-logo-1" class="title-icon"></mat-icon>
          </a>
          <!-- <a mat-button [routerLink]="['']" class="bordered-title"
            >the GLOW blueprint</a
          > -->
        </div>
      </div>
    </mat-toolbar>
    <div [ngClass]="{ 'app-content-wrapper': collapsed }">
      <div class="app-content"><ng-content></ng-content></div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
