@import "~@angular/material/theming";

$break-small: 600px;

.app-bar {
  align-items: start;
  background-image: url("../../../assets/images/pineapples.jpg");
  background-repeat-y: no-repeat;
  background-position: bottom;
  background-color: #e3dedb;
  background-size: contain;
  display: flex;
  height: 560px;
  padding-top: 16px;
}

@media only screen and (max-width: 600px) {
  .app-bar {
    height: 360px;
  }
}

.app-bar-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
}

.app-bar-toolbar {
  display: flex;
  flex-direction: row;
}

.app-bar-content {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: center;
}

.bordered-title {
  border-style: solid;
  border-width: 3px;
  color: rgba(0, 0, 0, 0.75);
  font-size: 48px;
  font-weight: bold;
  line-height: 56px;
  padding: 56px;
  text-align: center;
  white-space: pre-wrap;
  width: 300px;
  @media screen and (max-width: $break-small) {
    width: 160px;
    font-size: 36px;
    line-height: 48px;
    padding: 36px;
  }
}

.drawer-container {
  margin: -8px;
}

.expand {
  flex: 100;
}

.side-nav {
  padding-top: 36px;
  min-width: 250px;
}

.side-nav-button-wrapper {
  margin: 16px;
  text-align: center;
}

.toolbar-button {
  margin-left: 8px;
  margin-right: 8px;
}
