<h1 mat-dialog-title>Create Account</h1>
<div mat-dialog-content>
  <form class="form" [formGroup]="registrationForm">
    <div>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName" placeholder="Fisrt Name" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName" placeholder="Last Name" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Email</mat-label>
        <input
          matInput
          [formControl]="registrationForm.controls.email"
          placeholder="Email"
          type="email"
        />
        <mat-error *ngIf="registrationForm.controls.email.invalid">{{
          getEmailErrorMessage()
        }}</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" placeholder="Username" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Password</mat-label>
        <input
          matInput
          formControlName="password"
          [type]="showPassword ? 'text' : 'password'"
          placeholder="Password"
        />
        <mat-icon matSuffix (click)="onTogglePasswordVisibility()">{{
          showPassword ? "visibility_off" : "visibility"
        }}</mat-icon>
      </mat-form-field>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Nevermind</button>
  <span class="flex"></span>
  <button mat-stroked-button (click)="onSubmit()" cdkFocusInitial>
    Register
  </button>
</div>
