<app-bar [collapsed]="true">
  <div class="content">
    <div class="title">Sign In</div>
    <form class="form" [formGroup]="loginForm">
      <div>
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Username</mat-label>
          <input matInput formControlName="username" placeholder="Username" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Password</mat-label>
          <input
            matInput
            formControlName="password"
            [type]="showPassword ? 'text' : 'password'"
            placeholder="Password"
          />
          <mat-icon matSuffix (click)="onTogglePasswordVisibility()">{{
            showPassword ? "visibility_off" : "visibility"
          }}</mat-icon>
        </mat-form-field>
      </div>
      <div>
        <button mat-raised-button class="login-button" (click)="onLogin()">
          Sign In
        </button>
      </div>
      <div>
        <button
          mat-button
          class="create-account-button"
          (click)="onCreateAccount()"
        >
          Create Your Glow Blueprint Account
        </button>
      </div>
    </form>
  </div>
</app-bar>
