<app-bar [collapsed]="true">
  <mat-toolbar class="title">
    Work With Me
  </mat-toolbar>
  <scroll-animation direction="right">
    <div class="story-card-wrapper auto-height">
      <mat-card class="story-card-full">
        <mat-card-content class="story-card-content">
          <p>
            A sense of wholeness. Long-lasting energy without the midday crash.
            Purpose. A strong body that is functioning at optimum in all
            functions and finally maintaining its ideal weight. Sustained joy
            instead of fluctuating happiness. Understanding how to fuel your
            body and those of your family with whole, real, nutrient-dense foods
            that prevent disease.
          </p>
          <p>
            Its everything you’ve wanted with very little to lose. Maybe you
            need a crash course in the basics, or maybe you know your stuff and
            just need immense accountability and breakthrough. Whatever it may
            be, pause to think on this: what’s keeping you where you are, when
            everything you desire to become is right on the other side of a
            decision? It is attainable. You are full of greatness.
          </p>
          <p>
            Fill out your health history, and schedule your
            <b><i>free</i></b> virtual consult to discover how my coaching will
            propel you from “good enough to get by” into absolutely
            <i>thriving</i> aspects of life.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </scroll-animation>

  <scroll-animation direction="left">
    <div
      matRipple
      [matRippleUnbounded]="false"
      [matRippleCentered]="true"
      [routerLink]="['/profile/health-history']"
      class="story-card-wrapper story-card-clickable"
    >
      <mat-card class="story-card">
        <mat-card-title class="story-card-title">
          <div class="story-card-title-button-sm">
            Schedule Your Free Health History Call
          </div>
        </mat-card-title>
      </mat-card>
      <div class="story-card-img story-card-img-health-hist"></div>
    </div>
  </scroll-animation>

  <scroll-animation direction="right">
    <div
      matRipple
      [matRippleUnbounded]="false"
      [matRippleCentered]="true"
      [routerLink]="['/group-enrollment-registration']"
      class="story-card-wrapper story-card-clickable"
    >
      <div class="story-card-img story-card-img-group-coaching"></div>
      <mat-card class="story-card">
        <mat-card-title class="story-card-title">
          <div class="story-card-title-button">Group Coaching</div>
        </mat-card-title>
      </mat-card>
    </div>
  </scroll-animation>

  <scroll-animation direction="left">
    <div
      matRipple
      [matRippleUnbounded]="false"
      [matRippleCentered]="true"
      [routerLink]="['/work-with-me']"
      class="story-card-wrapper story-card-clickable"
    >
      <mat-card class="story-card">
        <mat-card-title class="story-card-title">
          <div class="story-card-title-button-sm">
            One-On-One Coaching
          </div>
          <div class="story-card-title-subtext">(3 or 6 Month)</div>
        </mat-card-title>
      </mat-card>
      <div class="story-card-img story-card-img-one-on-one-coaching"></div>
    </div>
  </scroll-animation>

  <scroll-animation direction="right">
    <instagram-panel></instagram-panel>
  </scroll-animation>

  <scroll-animation direction="left">
    <blog-list></blog-list>
  </scroll-animation>
</app-bar>
