@import "~@angular/material/theming";

$break-small: 800px;

.card {
  @include mat-elevation(8);
  cursor: pointer;
  margin: 16px;
}

.card:hover > .card-overlay {
  top: 0;
  bottom: 0;
  position: absolute;
  background-color: #000000;
  opacity: 0.2;
  left: 0;
  right: 0;
}

.card-category {
  text-decoration: underline;
}

.card-content {
  text-align: center;
}

.card-date {
  padding-top: 8px;
  color: rgba(0, 0, 0, 0.6);
}

.card-draft {
  color: #b65b6f;
  padding-top: 8px;
  font-family: lemonTuesday;
  font-size: 32px;
  font-weight: bold;
}

.card-title {
  margin: 16px 0;
}

.layout-column {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.layout-row {
  display: flex;
  flex-direction: row;
}
