<div class="layout-row">
  <div class="layout-column" *ngFor="let column of columns; index as i">
    <div class="layout-row" *ngFor="let blogPost of blogPosts; index as j">
      <div *ngIf="j % columns.length === i">
        <mat-card
          mat-ripple
          class="card mat-elevation-z"
          routerLink="/blog/{{ blogPost._id }}"
        >
          <gb-image
            class="mat-card-image"
            [id]="blogPost.mainImageId"
          ></gb-image>
          <mat-card-content class="card-content">
            <div class="card-category">{{ blogPost.category }}</div>
            <h1 class="card-title">{{ blogPost.title }}</h1>
            <div *ngIf="!blogPost.isDraft" class="card-date">
              {{ blogPost.createdAt | timeFromNow }}
            </div>
            <div *ngIf="blogPost.isDraft" class="card-draft">*Draft*</div>
          </mat-card-content>
          <div class="card-overlay"></div>
        </mat-card>
      </div>
    </div>
  </div>
</div>
