@import "~@angular/material/theming";

$break-small: 800px;

.list-item-text {
  flex: 1;
}

.list-item-subtext {
  color: #808080;
}

.panel-title {
  align-items: center;
  font-weight: 600;
}

.panel-title-icon {
  margin-right: 16px
}