<div *ngIf="!blogPost">Loading...</div>
<div *ngIf="blogPost">
  <app-bar [collapsed]="true">
    <div class="content">
      <div *ngIf="!editing" class="main-content">
        <div class="title-panel">
          <a
            mat-button
            routerLink="/blog"
            [queryParams]="{ category: blogPost.category }"
          >
            <span class="title-panel-category">{{ blogPost.category }}</span></a
          >
          <h1 class="title-panel-title">{{ blogPost.title }}</h1>
          <span class="title-panel-date">{{ blogPost.createdAt | date }}</span>
          <button
            mat-icon-button
            *ngIf="isAdmin"
            (click)="onEdit()"
            color="primary"
          >
            <mat-icon>edit</mat-icon>
          </button>
        </div>
        <div class="image-wrapper">
          <gb-image [ngClass]="'image'" [id]="blogPost.mainImageId"></gb-image>
        </div>
        <div class="body-wrapper">
          <div class="body" [innerHtml]="blogPost.body"></div>
        </div>
      </div>
      <div *ngIf="editing" class="editable-content">
        <form [formGroup]="form">
          <div>
            <mat-form-field class="title-form-field" appearance="outline">
              <mat-label class="title-form-label">Title</mat-label>
              <input matInput formControlName="title" />
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="outline">
              <mat-label class="category-label">Category</mat-label>
              <input
                matInput
                formControlName="category"
                [matAutocomplete]="autoComplete"
              />
              <mat-autocomplete #autoComplete="matAutocomplete">
                <mat-option
                  *ngFor="let category of categories"
                  [value]="category"
                >
                  {{ category }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
          <div class="dropzone-wrapper">
            <dropzone
              class="image-dropzone"
              [config]="dropzoneConfig"
              message="Upload an Image"
              (success)="onUploadSuccess($event)"
            ></dropzone>
          </div>
          <div>
            <quill-editor class="editor" formControlName="body"></quill-editor>
          </div>
        </form>
        <div>
          <button mat-button (click)="onCancel()">
            Cancel
          </button>
          <button mat-stroked-button class="save-button" (click)="onSave()">
            Save
          </button>
        </div>
      </div>
      <div class="side-content">
        <instagram-panel [isSideNav]="true"></instagram-panel>
      </div>
    </div>
  </app-bar>
</div>
