@import "~@angular/material/theming";

$break-small: 800px;

.body {
  max-width: 640px;
  padding: 16px;
}

.body-wrapper {
  width: 100%;
  justify-content: center;
  display: flex;
}

.content {
  flex-direction: row;
  display: flex;
  justify-content: center;
}

.dropzone-wrapper {
  display: flex;
  justify-content: center;
}

.editor {
  min-height: 500px;
}

.editable-content {
  margin: 16px;
  text-align: center;
}

.image-dropzone {
  font-size: 15px;
  max-width: 200px;
  height: 100%;
  margin-bottom: 16px;
}

.image-wrapper {
  text-align: center;
}

.image {
  max-width: 800px;
  width: calc(100% - 32px);
}

.main-content {
  flex-direction: column;
  width: 100%;
}

.save-button {
  color: #fff;
  background-color: #e7abb6;
  font-family: lemonTuesday;
  font-size: 28px;
  line-height: 48px;
  margin-top: 48px;
  padding-left: 24px;
  padding-right: 24px;
}

.side-content {
  flex-direction: column;
  width: 260px;

  @media screen and (max-width: $break-small) {
    display: none;
  }
}

.title-form-field {
  width: 100%;

  input {
    font-size: 28px;
    font-weight: bold;
  }
}

.title-form-label {
  font-size: 28px;
}

.title-panel {
  padding: 16px;
  text-align: center;
}

.title-panel-category {
  border-bottom-style: solid;
  border-bottom-width: 2px;
  color: #b65b6f;
  font-family: lemonTuesday;
  font-size: 24px;
}

.title-panel-date {
  font-size: 16px;
  color: #6d6d6d;
}

.title-panel-title {
  font-size: 36px;
  line-height: 64px;
  margin-top: 16px;
}
