<app-bar [collapsed]="true">
  <div class="container">
    <mat-toolbar class="toolbar">
      Boss Mama <span class="toolbar-grow"></span>
    </mat-toolbar>
    <div class="content">
      <div class="sidenav">
        <mat-action-list class="nav-list">
          <button
            mat-list-item
            (click)="onSelectedViewChange('BLOG')"
            class="nav-list-item"
            [ngClass]="{ selected: selectedView === 'BLOG' }"
          >
            Write a Post
          </button>
          <button
            mat-list-item
            (click)="onSelectedViewChange('USERS')"
            class="nav-list-item"
            [ngClass]="{ selected: selectedView === 'USERS' }"
          >
            Manage Users
          </button>
          <button
            mat-list-item
            (click)="onSelectedViewChange('USER_GROUPS')"
            class="nav-list-item"
            [ngClass]="{ selected: selectedView === 'USER_GROUPS' }"
          >
            Manage Groups
          </button>
          <button
            mat-list-item
            (click)="onSelectedViewChange('OTHER')"
            class="nav-list-item"
            [ngClass]="{ selected: selectedView === 'OTHER' }"
          >
            Other Cool Stuff
          </button>
        </mat-action-list>
      </div>
      <div class="main-content">
        <blog-post-creator *ngIf="selectedView === 'BLOG'"></blog-post-creator>
        <div *ngIf="selectedView === 'USERS'">
          See active users, manage them...COMMAND THEM!
        </div>
        <user-group-list *ngIf="selectedView === 'USER_GROUPS'">
        </user-group-list>
        <div *ngIf="selectedView === 'OTHER'">
          Who knows...we could add whatever we want :b
        </div>
      </div>
    </div>
  </div>
</app-bar>
