<app-bar>
  <scroll-animation direction="right">
    <div class="story-card-wrapper">
      <mat-card class="story-card-full">
        <mat-card-content class="story-card-content">
          <span class="lemon-tuesday-accent">Welcome, gorgeous.</span> I am so
          glad your path has intersected with mine. Hi, I'm Abby. Mom to Jade
          (2) and Jack (1). Integrative health coach. Enthusiast about living a
          lifestyle that feeds all spectrums of mine and my family's health. I
          am passionate about empowering other mamas and our children to fill up
          with knowledge that propels us toward our healthiest, most joy-filled
          lives through proper nutrition, enjoyable exercise, and balance in all
          aspects of life.
          <div class="story-highlight">
            Mama, let’s map out your personal blueprint to a life full of love,
            joy, and that ever sought after “glow”.
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </scroll-animation>

  <scroll-animation direction="left">
    <div
      matRipple
      [matRippleUnbounded]="false"
      [matRippleCentered]="true"
      [routerLink]="['/blog']"
      class="story-card-wrapper story-card-clickable"
    >
      <mat-card class="story-card">
        <mat-card-title class="story-card-title">
          <div class="story-card-title-button">Blog</div>
        </mat-card-title>
      </mat-card>
      <div class="story-card-img story-card-img-blog"></div>
    </div>
  </scroll-animation>

  <scroll-animation direction="right">
    <div
      matRipple
      [matRippleUnbounded]="false"
      [matRippleCentered]="true"
      [routerLink]="['/work-with-me']"
      class="story-card-wrapper story-card-clickable"
    >
      <div class="story-card-img story-card-img-work-with-me"></div>
      <mat-card class="story-card">
        <mat-card-title class="story-card-title">
          <button mat-button class="story-card-title-button">
            Work With Me
          </button>
        </mat-card-title>
      </mat-card>
    </div>
  </scroll-animation>

  <scroll-animation direction="left">
    <div
      matRipple
      [matRippleUnbounded]="false"
      [matRippleCentered]="true"
      [routerLink]="['/my-story']"
      class="story-card-wrapper story-card-clickable"
    >
      <mat-card class="story-card">
        <mat-card-title class="story-card-title">
          <div class="story-card-title-button">My Story</div>
        </mat-card-title>
      </mat-card>
      <div class="story-card-img story-card-img-story"></div>
    </div>
  </scroll-animation>

  <scroll-animation direction="right">
    <instagram-panel></instagram-panel>
  </scroll-animation>

  <scroll-animation direction="left">
    <blog-list></blog-list>
  </scroll-animation>
</app-bar>
