<app-bar>
  <scroll-animation direction="left">
    <div class="story-card-wrapper">
      <mat-card class="story-card-full">
        <mat-card-content class="story-card-content">
          <span class="lemon-tuesday-accent">Welcome, gorgeous.</span> I am so
          glad your path has led you here to intersect with mine. Hi, I'm Abby.
          Mom of two. Exercise specialist. Recipe creator. Enthusiast about
          living a lifestyle that feeds all spectrums of mine and my family's
          health. And I am passionate about helping others create their
          healthiest, most joy-filled lives through proper nutrition,
          pleasurable physical activity, rich relationships, meaningful careers,
          and a thoughtful spiritual practice.
          <div class="story-highlight">
            Mama, let’s map out your personal blueprint to a life full of love,
            joy, and that ever sought after “glow”.
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </scroll-animation>

  <scroll-animation direction="right">
    <div class="story-card-wrapper">
      <div class="story-card-img story-card-img-story"></div>
      <mat-card class="story-card">
        <mat-card-title class="story-card-title">
          <a
            mat-button
            [routerLink]="['/my-story']"
            class="story-card-title-button"
            >My Story</a
          >
        </mat-card-title>
      </mat-card>
    </div>
  </scroll-animation>

  <scroll-animation direction="left">
    <div class="story-card-wrapper">
      <mat-card class="story-card">
        <mat-card-title class="story-card-title">
          <a
            mat-button
            [routerLink]="['/coaching']"
            class="story-card-title-button"
            >Coaching</a
          >
        </mat-card-title>
      </mat-card>
      <div class="story-card-img story-card-img-coaching"></div>
    </div>
  </scroll-animation>

  <scroll-animation direction="right">
    <div class="story-card-wrapper">
      <div class="story-card-img story-card-img-blog"></div>
      <mat-card class="story-card">
        <mat-card-title class="story-card-title">
          <a mat-button [routerLink]="['/blog']" class="story-card-title-button"
            >Blog</a
          >
        </mat-card-title>
      </mat-card>
    </div>
  </scroll-animation>

  <!--
    <scroll-animation direction="left">
      <div class="story-card-wrapper">
        <mat-card class="story-card">
          <mat-card-title class="story-card-title">
            <button mat-button class="story-card-title-button">
              Grow Your Glow
            </button>
          </mat-card-title>
            <mat-card-content class="story-card-content">
              I'm not super sure what it means yet...but it's going to be great!
              Trust Me.
            </mat-card-content>
        </mat-card>
        <div class="story-card-img story-card-img-glow"></div>
      </div>
    </scroll-animation>
  -->

  <scroll-animation direction="right">
    <instagram-panel></instagram-panel>
  </scroll-animation>

  <scroll-animation direction="left">
    <blog-list></blog-list>
  </scroll-animation>
</app-bar>
