@import "~@angular/material/theming";

$break-small: 800px;

.lemon-tuesday-accent {
  font-family: lemonTuesday;
  font-size: 24px;
}

.story-highlight {
  color: #b65b6f;
  font-size: 24px;
  margin: 48px 16px;
}

.story-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 48px 18px;
  width: 40%;
}

.story-card-clickable {
  cursor: pointer;
  position: relative;

  > :hover {
    background-color: rgba(0, 0, 0, 0.08);
  }
}
.story-card-clickable:focus {
  outline: none;
}

.story-card-full {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 48px 18px;
  width: 100%;
}

.story-card-content {
  font-family: typewriter;
  font-size: 16px;
  text-align: center;
}

.story-card-img {
  flex-direction: column;
  background-position: center;
  background-size: cover;
  width: 60%;
}

.story-card-img-story {
  background-image: url("../../../assets/images/family-1.jpg");
}

.story-card-img-blog {
  background-image: url("../../../assets/images/stock-food-2.jpg");
}

.story-card-img-coaching {
  background-image: url("../../../assets/images/coaching.jpg");
  background-position: left;
}

.story-card-img-glow {
  background-image: url("../../../assets/images/stock-lifestyle.jpg");
}

.story-card-title {
  display: flex;
  justify-content: center;
}

.story-card-title-button {
  font-family: lemonTuesday;
  font-size: 48px;
  margin-bottom: 8px;
  margin-top: 8px;
  padding: 24px;
  white-space: pre-line;
}

.story-card-wrapper {
  display: flex;
  flex-direction: row;
  flex: 100;
  min-height: 500px;
}

@media only screen and (max-width: 800px) {
  .story-card-content {
    font-size: 18px;
  }

  .story-card-title-button {
    font-size: 36px;
  }
}
