@import "~@angular/material/theming";

$break-small: 800px;

.accent-text {
  color: #b65b6f;
  font-size: 24px;
  margin: 48px 16px;
}

.add-button {
  margin-right: 16px;
}

.category-field {
  font-family: typewriter;
}

.centered-text {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.editor {
  min-height: 500px;
}

.image-dropzone {
  font-family: typewriter;
  font-size: 15px;
  max-width: 200px;
  height: 100%;
  margin-bottom: 16px;
}

.main-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 16px;
}

.nav-list {
  cursor: pointer;

  :hover {
    background-color: #b65b6f;
  }
}

.sidenav {
  flex-direction: column;
  min-width: 300px;
  width: 300px;
}

.title-field {
  font-family: typewriter;
  width: 100%;

  input {
    font-size: 28px;
    font-weight: bold;
  }
}

.title-label {
  font-size: 28px;
}

.toolbar-grow {
  flex-grow: 1;
}

.toolbar-icon {
  font-size: 36px;
  line-height: 36px !important;
  height: 36px;
  width: 36px;
}

.toolbar {
  background-color: #7f946d73;
  color: #fff;
  font-family: lemonTuesday;
  flex-direction: row;
  justify-content: center;
  font-size: 2rem;
  padding-left: 32px;
}
