@import "~@angular/material/theming";
@import "../../../assets/styles/app-theme.scss";

.enroll-button {
  color: #fff !important;
  font-size: 20px;
  font-family: typewriter;
  height: 42px;
  padding-top: 4px;
  background: linear-gradient(
    45deg,
    rgba(231, 171, 182, 1) 0%,
    rgb(255, 210, 219) 100%
  );
}

.title {
  color: mat-color($app-accent, 200);
  text-align: center;
  margin-top: 16px;
  font-size: 64px;
  font-family: lemonTuesday;
}
