<app-bar>
  <div class='category-panel-wrapper'>
    <button mat-button class='category-panel background-nutrition'>
      <div class='category-panel-diamond'>
        <span class='category-panel-text mat-title'>Nutrition & Recipes</span>
      </div>
    </button>
    <button mat-button class='category-panel background-lifestyle'>
      <div class='category-panel-diamond'>
        <span class='category-panel-text mat-title'>Lifestyle & Balance</span>
      </div>
    </button>
    <button mat-button class='category-panel background-exercise'>
      <div class='category-panel-diamond'>
        <span class='category-panel-text mat-title'>Exercise &nbsp;&nbsp;&nbsp; & &nbsp;&nbsp;&nbsp; Body</span>
      </div>
    </button>
  </div>
</app-bar>