<app-bar>
  <div class='category-panel-wrapper'>
    <div class='category-panel'>
      <div class='category-panel-diamond'>
        <span class='category-panel-text mat-title'>Nutrition & Recipes</span>
      </div>
    </div>
    <div class='category-panel'>
      <div class='category-panel-diamond'>
        <span class='category-panel-text mat-title'>Lifestyle & Balance</span>
      </div>
    </div>
    <div class='category-panel'>
      <div class='category-panel-diamond'>
        <span class='category-panel-text mat-title'>Excercise &nbsp;&nbsp;&nbsp; & &nbsp;&nbsp;&nbsp; Body</span>
      </div>
    </div>
  </div>
</app-bar>