@import "~@angular/material/theming";

$break-small: 800px;

.wrapper {
  margin: 16px;
}

.centered-text {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.editor {
  min-height: 500px;
}

.image-dropzone {
  font-size: 15px;
  max-width: 200px;
  height: 100%;
  margin-bottom: 16px;
}

.publish-draft-button {
  color: #e7abb6;
  background-color: #fff;
  font-family: lemonTuesday;
  font-size: 28px;
  line-height: 48px;
  margin-top: 48px;
  margin-right: 48px;
  padding-left: 24px;
  padding-right: 24px;
}

.publish-button {
  color: #fff;
  background-color: #e7abb6;
  font-family: lemonTuesday;
  font-size: 28px;
  line-height: 48px;
  margin-top: 48px;
  padding-left: 24px;
  padding-right: 24px;
}

.title-field {
  width: 100%;

  input {
    font-size: 28px;
    font-weight: bold;
  }
}

.title-label {
  font-size: 28px;
}
