<app-bar>
  <mat-toolbar class="title"> Coaching </mat-toolbar>
  <div class="content">
    <p>
      Welcome, gorgeous. I am so glad your path has led you here to intersect
      with mine. Do you realize how much choice you get in the matter of your
      mental, emotional, and physical health? Lifestyle choices we make everyday
      not only affect our developing babies, they have the potential to play a
      major role in our labor, postpartum healing (both physically and
      mentally), and transition into and through motherhood.
    </p>
    <p>
      I don’t believe in a perfect pregnancy. Our hormones will turn on us, our
      ever-changing bodies will give us aches that keep us readjusting every
      five minutes, and we may even gain our tiger stripes (aka stretch marks).
      But, uncontrollable factors aside...
    </p>
    <scroll-animation class="accent-text centered-text">
      I do believe an empowered woman can make conscious choices that will
      maximize her physical, mental, and social health.
    </scroll-animation>
    <p>
      When she aligns with and acts upon her inner truths, then contentment,
      wholeness, and joy will radiate out of her with such intensity that the
      only word to describe it is GLOW. What would it mean to you to wake up
      every day and feel joy and vitality so strongly that its infectious to
      those around us?
    </p>
    <p>
      Meaningful relationships, a fulfilling career, a solid spiritual practice,
      enjoyable physical activity, and delicious, nutrient-dense food all feed
      us, and in turn, nourish our growing babes. That glowing radiance comes
      when we are being nourished socially, emotionally, mentally, physically,
      and spiritually.
    </p>
    <p>
      During my studies in kinesiology, I learned the intricacies of our bodies’
      reactions to exercise, as well as the endless physiological benefits to
      our long term longevity. At the same time, I was earning my psychology
      minor which taught me the neurological connections we form with emotion,
      society, bonding, pleasure, and more. Weaving this all together, along
      with my experience as a mama of two littles, I coach that overall health,
      vitality, and happiness comes when we are being fed the BEST forms of
      nourishment both on and off the plate.
    </p>
    <scroll-animation class="accent-text centered-text">
      Do you feel like you are in control of your own health, happiness, and
      glow?
    </scroll-animation>
    <p>
      Do you feel truly nourished in your body, mind, and soul? I support and
      empower mothers to discover how the slightest shifts in your life can have
      profound long term effects on your health, happiness, and your baby. Mama,
      let’s map out your personal blueprint to a life of health, joy, and that
      ever sought after “glow”.
    </p>
    <scroll-animation class="accent-text centered-text accent-font">
      <p class="centered-text">XOXO</p>
      <p class="centered-text">Abby</p>
      <p>&nbsp;</p>
    </scroll-animation>
    <p>
      During our coaching sessions, areas we will assess and work together to
      balance may include any of the following:
    </p>
    <ul>
      <li>Current relationship with exercise, plus personal future goals</li>
      <li>
        Exercise benefits to both mother and baby during pregnancy (hint:
        they’re not just physical!)
      </li>
      <li>How to safely exercise during pregnancy</li>
      <li>Preparing your body for labor</li>
      <li>Relationship with food (past, present, and future goals)</li>
      <li>Bio-individuality</li>
      <li>Home cooking tips, inspiration, recipes</li>
      <li>Nutrition during pregnancy, breastfeeding, and motherhood</li>
      <li>”Crowding out” unhealthy foods with healthier choices</li>
      <li>
        Circle of support in your life (significant others, friends, family)
      </li>
      <li>Marriage after children + nurturing your significant other</li>
      <li>Career satisfaction, workplace relationships</li>
      <li>Joy vs. Excitement/Pleasure</li>
      <li>Increasing your daily joy</li>
      <li>Spirituality and the role it plays in daily satisfaction</li>
      <li>
        Preparing for life with baby: expectations and steps to take to ease the
        transition of adding a newborn to the family
      </li>
      <li>Self-care + Self-love + “Me-time”</li>
      <li>Sleep (for all members of the family)</li>
      <li>Stress: How it affects us biologically + how to manage</li>
    </ul>
  </div>
</app-bar>
