@import "~@angular/material/theming";

.follow-button-content {
  display: flex;
  flex-direction: row;
  margin: 8px;
}

.follow-button-text {
  font-family: "lemonTuesday";
  font-size: 32px;
  margin: 0;
}

.insta-icon {
  margin-right: 16px;
  height: 36px;
  width: 36px;
}

.panel-content {
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.panel-title {
  flex-direction: row;
  display: flex;
  justify-content: center;
}

.panel-wrapper {
  padding: 32px 16px 16px 16px;
  flex-direction: column;
  display: flex;
}

.insta-img {
  margin: 16px 0 16px 0;
  border-radius: 8px;
}
