@import "~@angular/material/theming";

$break-small: 800px;

.dialog-text {
  color: #ecb3be;
  font-size: 20px;
  margin-top: 16px;
  margin-bottom: 36px;
}

.dialog-title {
  color: #ecb3be;
  font-family: lemonTuesday;
  font-size: 42px;
  text-align: center;
  line-height: 1.25;
}

.form-field {
  width: 100%;
}

.flex {
  flex-grow: 1;
}

.subscribe-button {
  color: #fff;
  font-size: 20px;
  height: 42px;
  background: linear-gradient(
    45deg,
    rgba(231, 171, 182, 1) 0%,
    rgb(255, 210, 219) 100%
  );
}
