@import "~@angular/material/theming";
@import "../../../assets/styles/app-theme.scss";

$break-small: 800px;

.title {
  color: mat-color($app-accent, 200);
  text-align: center;
  margin-top: 16px;
  font-size: 64px;
  font-family: lemonTuesday;
}

.typewriter {
  font-family: typewriter;
}

.category-wrapper {
  text-align: right;
  padding-right: 16px;
}
