<app-bar imageId="5c0494f3eb2ff65e2cd6618b">
  <mat-grid-list cols="3" rowHeight="240" gutterSize="16" class="category-grid">
    <mat-grid-tile>
      <button mat-button class="category-button background-nutrition"></button>
      <div class="label"><span class="label-text">Food</span></div>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-button class="category-button background-lifestyle"></button>
      <div class="label"><span class="label-text">Lifestyle</span></div>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-button class="category-button background-exercise"></button>
      <div class="label"><span class="label-text">Exercise & Body</span></div>
    </mat-grid-tile>
  </mat-grid-list>
  <blog-list></blog-list>
</app-bar>
