@import "../../../assets/styles/app-theme.scss";

$break-small: 800px;

.title {
  color: mat-color($app-accent, 300);
  text-align: center;
  margin-top: 16px;
  font-size: 84px;
  font-family: lemonTuesday;
  line-height: 140px;
}

.typewriter {
  font-family: typewriter;
}

.category-wrapper {
  padding-left: 16px;

  @media only screen and (max-width: 800px) {
    margin-top: 16px;
    text-align: center;
  }
}
