@import "~@angular/material/theming";
@import "quill/dist/quill.bubble.css";
@import "quill/dist/quill.snow.css";
@import "./assets/styles/app-theme.scss";

@font-face {
  font-family: lemonTuesday;
  src: url(assets/fonts/lemon_tuesday.otf) format("opentype");
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background-color: #fff;
}
