@import "~@angular/material/theming";
@import "quill/dist/quill.bubble.css";
@import "quill/dist/quill.snow.css";

@include mat-core();

$app-primary: mat-palette($mat-pink, 200);
$app-accent: mat-palette($mat-light-green, 200);
$app-warn: mat-palette($mat-red);

$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

@include angular-material-theme($app-theme);

@font-face {
  font-family: lemonTuesday;
  src: url(assets/fonts/lemon_tuesday.otf) format("opentype");
}

@font-face {
  font-family: typewriter;
  src: url(assets/fonts/typewriter.otf) format("opentype");
}

body {
  margin: 0;
  background-color: #eceaea;
}
