@import "~@angular/material/theming";

$break-small: 600px;

.card {
  @include mat-elevation(8);
  width: 33%;
  margin: 16px;
  @media screen and (max-width: $break-small) {
    width: 100%;
  }
}

.card-wrapper {
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  padding: 16px;
}
