@import "~@angular/material/theming";

$custom-typography: mat-typography-config(
  $font-family: "typewriter"
);
@include mat-core($custom-typography);

$app-primary: mat-palette($mat-pink, 200);
$app-accent: mat-palette($mat-light-green, 200);
$app-warn: mat-palette($mat-red);

$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

@include angular-material-theme($app-theme);
