<div class="content">
  <div class="list-wrapper">
    <mat-nav-list class="list">
      <mat-list-item
        *ngFor="let user of users"
        [ngClass]="{
          'list-item-selected': !!selectedUser && user._id === selectedUser._id
        }"
        (click)="onSelectionChange(user)"
      >
        <h4 mat-line>{{ user.firstName }} {{ user.lastName }}</h4>
        <p mat-line>{{ user.email }}</p>
      </mat-list-item>
    </mat-nav-list>
  </div>
  <div class="details-wrapper">
    <mat-tab-group>
      <mat-tab label="Contact Info">
        <contact-info-panel
          *ngIf="selectedUser"
          [isAdmin]="true"
          [user]="selectedUser"
        >
        </contact-info-panel
      ></mat-tab>
      <mat-tab label="Health History">
        <health-history-panel
          *ngIf="
            selectedUser &&
            healthHistoryLookup &&
            healthHistoryLookup[selectedUser._id]
          "
          [showActions]="false"
          [isAdmin]="true"
          [healthHistory]="healthHistoryLookup[selectedUser._id]"
        ></health-history-panel>
        <div
          *ngIf="
            !selectedUser ||
            !healthHistoryLookup ||
            !healthHistoryLookup[selectedUser._id]
          "
          class="raw-text"
        >
          No Health History found for this person ¯\_(ツ)_/¯
        </div></mat-tab
      >
    </mat-tab-group>
  </div>
</div>
