@import "~@angular/material/theming";

$break-small: 600px;

.expand {
  flex: 100;
}

.card {
  margin: 8px;
}

.card-main {
  background-color: mat-color($mat-cyan, 50);
  height: 520px;
  text-align: center;
}

.card-content {
  height: 100%;
}

.card-column {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.card-row {
  display: flex;
  flex-direction: row;
  flex-grow: 20;
  padding-top: 24px;
  padding-bottom: 24px;
}

.grow {
  flex-grow: 1;
}
