<app-bar>
  <div class='story-card-wrapper'>
    <div class='story-card-img story-card-img-story'></div>
    <mat-card class='story-card'>
      <mat-card-title class='story-card-title'>
        <button mat-stroked-button class='story-card-title-button'>My Story</button>
      </mat-card-title>
      <mat-card-content class="story-card-content">
        Hello I'm Abby Gaskill and I'm really cool, I know it because I like trouncing around going doot, doot, doot. I have kids
        and stuff and food is life. Also coffee is life. Hashtag #ImHangryNeedCoffeeNowYallFrrrrt
      </mat-card-content>
    </mat-card>
  </div>

  <div class='story-card-wrapper'>
    <mat-card class='story-card'>
      <mat-card-title class='story-card-title'>
        <a mat-stroked-button routerLink="/blog" class='story-card-title-button'>Blog</a>
      </mat-card-title>
      <mat-card-content class="story-card-content">
        I like to write about my thoughts and dreams. Also my feelings, I have a lot of those, so I write about them #LikeABoss
      </mat-card-content>
    </mat-card>
    <div class='story-card-img story-card-img-blog'></div>
  </div>

  <div class='story-card-wrapper'>
    <div class='story-card-img story-card-img-coaching'></div>
    <mat-card class='story-card'>
      <mat-card-title class='story-card-title'>
        <button mat-stroked-button class='story-card-title-button'>Coaching</button>
      </mat-card-title>
      <mat-card-content class="story-card-content">
        Oh yeah, did I not mention the coaching yet!? I'm like a super great health coach 'n stuff and I can whip your sad butt into
        shape! Now...DROP DOWN AND GIVE ME TWENTY!!!
      </mat-card-content>
    </mat-card>
  </div>

  <div class='story-card-wrapper'>
    <mat-card class='story-card'>
      <mat-card-title class='story-card-title'>
        <button mat-stroked-button class='story-card-title-button'>Grow Your Glow</button>
      </mat-card-title>
      <mat-card-content class="story-card-content">
        I'm not super sure what it means yet...but it's going to be great! Trust Me.
      </mat-card-content>
    </mat-card>
    <div class='story-card-img story-card-img-glow'></div>
  </div>

</app-bar>