<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar class='app-bar'>
  <div class='app-bar-container'>
    <div class='app-bar-toolbar'>
      <span class='expand'></span>
      <a mat-button class='toolbar-button' href="">Home</a>
      <a mat-button class='toolbar-button' href="">Blog</a>
      <a mat-stroked-button class='toolbar-button' href="">Learn More</a>
    </div>
    <div class='app-bar-content'>
      <div class='bordered-title'>
        The GLOW blueprint
      </div>
    </div>
  </div>
</mat-toolbar>
<mat-card class='card card-main'>
  <mat-card-content class='card-content'>
    Exciting things!
  </mat-card-content>
</mat-card>
<mat-card class='card'>
  <mat-card-content class='card-content'>
    Moar Exciting things
  </mat-card-content>
</mat-card>