@import "~@angular/material/theming";

.app-bar {
  align-items: start;
  background-image: url("../../assets/images/background-palm-leaves.jpg");
  background-size: cover;
  display: flex;
  height: 560px;
  padding-top: 16px;
}

// .app-bar::after {
//   content: "";
//   background-image: url("../../assets/images/background-palm-leaves.jpg");
//   background-size: cover;
//   opacity: 0.5;

//   z-index: 10000;
// }

.app-bar-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
}

.app-bar-toolbar {
  display: flex;
  flex-direction: row;
}

.app-bar-content {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: center;
}

.bordered-title {
  border-style: solid;
  padding: 36px;
}

.expand {
  flex: 100;
}

.card {
  margin: 8px;
}

.card-main {
  background-color: mat-color($mat-cyan, 50);
  height: 520px;
  text-align: center;
}

.card-content {
  height: 100%;
}

.card-column {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.card-row {
  display: flex;
  flex-direction: row;
  flex-grow: 20;
  padding-top: 24px;
  padding-bottom: 24px;
}

.toolbar-button {
  margin-left: 8px;
  margin-right: 8px;
}

.grow {
  flex-grow: 1;
}
