<app-bar>
  <mat-toolbar class="title">
    My Story
  </mat-toolbar>
  <div class="content">
    <p>
      Welcome, gorgeous. I am so glad your path has led you here to intersect with mine. Do you realize how much choice
      you get in the matter of your mental, emotional, and physical health? Have you found your glow? Allow me to share
      with you the parts of myself that fuel my passion to empower (and spread the glow to) fellow women who are on
      their
      own paths through motherhood.
    </p>
    <div class="accent-text centered-text">
      In my mind, the most basic foundation of health
      is the principle that what we put into our bodies
      plays a significant role in our health.
    </div>
    <p>
      For me, this foundation was set by growing up on a fairly self-sufficient organic farm in Iowa with parents who
      read every ingredient label. As a child, it was incredibly frustrating that I couldn’t just have the Doritos.
      But,
      I look back on this and am filled with gratitude towards my parents for laying this foundation.
    </p>
    <p>
      Fast forward to high school, and I’m the overweight, shy girl who just wanted to look like the cover girls. So,
      following the advice of the cover girls, I forced myself to like celery (among other health foods) and I forced
      myself to run. The weight melted off, and I had built another story on top of my foundation of knowledge:
      exercise
      is good (check!).
    </p>
    <p>
      Then, I started college at Iowa State University. I declared a kinesiology major. I was taught by some of the
      leading pioneers in exercise research. My foundation was starting to grow into a tower of knowledge about the
      body’s responses to exercise, disease, and nutrition. In my personal life, I worked out intermittently, taught
      group fitness classes, walked to class...yet, I found myself overweight with the worst acne I had ever had in my
      life. Again, I decided to make a change. However, this time around I had more knowledge about my body’s response
      to
      lifestyle factors. I switched my snacks to veggies, I disciplined myself to hold a regular workout routine, I
      studied better than I ever had in my four years of college, I honored my need for sleep and went to bed before my
      roommates. I also had so much fun with friends. My social life was flourishing.
    </p>
    <div class="accent-text centered-text">
      This was the MOST JOY I had experienced since
      I couldn’t even remember when. And this all felt effortless.
    </div>
    <p>
      My training with the Institute for Integrative Nutrition teaches that during that point in my life, I was
      nourishing myself with Primary Foods through rich relationships, a deep spiritual practice, enjoyable regular
      exercise, and a fulfilling career (I was loving my class load that semester!) The actual food that I ate became
      secondary to these other factors that fueled my passion for day-to-day life.
    </p>
    <p>
      Now fast forward……
    </p>
    <p>
      Two and a half years later I found out I was going to be a mom! I consumed endless knowledge about how to
      optimize
      my baby’s development during each growth period in the womb. I kept up with my daily What to Expect app to
      monitor
      developmental milestones. I tried to stay as active as I could through that winter.
    </p>
    <p>
      Then something interesting happened: I ended up noticing that many newer moms in my life were having a lot more
      complaints about their aching bodies, or inability to sleep, or a prenatal complication that their doctor
      remedied
      with lifestyle changes. This seriously made me question, “Why am I having such an easy pregnancy when these other
      mamas are having such a rough go at it?” Being a science-minded person, I started to dig deeper when friends
      would
      bring up their latest pregnancy pain. And every conversation ended the same: these women would self-prescribe
      what
      they knew they needed. Whether it be more water, more activity, more sleep, less sugar, less processed foods,
      less
      stress…it was almost always lifestyle related.
    </p>
    <p>
      This current lifestyle I choose has been a journey that’s intertwined science and real life experience. It has
      been
      a journey of discovering what my mind and body need, and realizing just how much control I actually hold over my
      own well-being. And why should pregnancy be any different? Yes, there are factors that we just have no control
      over, such as genetics, hormone changes, and a body that is being pushed to the max. Mama, you DO get a say in
      the
      matter of how you feel. You should be demanding only the best for your mind, body, and growing babe. Motherhood
      requires 100% giving and oftentimes we don’t take. It’s time to fill your cup too. As a mama who has found her
      light through a sustainable, happy and healthy life, I want to share this knowledge and experience with every
      other
      mama. You can actualize a pregnancy and a life of mothering that wakes you up with glowing energy. And soon this
      radiance will become contagious, and spread to another mama who is in pursuit of her glow too.
    </p>
    <p>
      “Whatever you are physically...male or female, strong or weak, ill or healthy--all those things matter less than
      what your heart contains. If you have the soul of a warrior, you are a warrior. All those other things, they are
      the glass that contains the lamp, but you are the light inside.” Cassandra Clare
    </p>
    <p>&nbsp;</p>
    <p class="centered-text">
      XOXO
    </p>
    <p class="centered-text">
      Abby
    </p>
  </div>
</app-bar>