@import "../../../../assets/styles/app-theme.scss";

$break-small: 800px;

.accent-font {
  font-family: lemonTuesday;
}

.accent-text {
  color: #b65b6f;
  font-size: 24px;
  margin: 48px 16px;
}

.centered-text {
  text-align: center;
}

.content {
  font-family: typewriter;
  margin: 16px;
}

.edit-button {
  margin-left: 16px;
}

.edit-icon {
  font-size: 28px;
  color: #b65b83;
}

.title {
  color: mat-color($app-accent, 300);
  background-color: inherit;
  font-family: lemonTuesday;
  font-size: 5rem;
  margin: 28px 0;
  height: auto;
  white-space: normal;
  line-height: 120px;
  text-align: center;
  justify-content: center;
}

.title-actions {
  margin: 16px;
  text-align: center;
}
